# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
*.venv
venv/
ENV/
env/
*.egg
*.egg-info/
dist/
build/
*.log

# Django
*.sqlite3
db.sqlite3
/media/
staticfiles/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# OS-specific
.DS_Store
Thumbs.db